<h2>Extractor</h2>
<%=
  form_for :extract, '/' do
    label      :response
    div do
      text_area :response, class: 'extractor'
    end

    div class: 'controls' do
      submit 'extract ids'
    end
  end
%>